*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: black;
    margin:0 80px;
    padding-bottom: 70px;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .column{
    flex: 25%;
    max-width: 25%;
    padding: 0 3px;
  }
  .column img{
    width: 100%;
    margin-top: 3px;
    opacity: 0.9;
    filter: grayscale(100%);
    transition: all 0.3s;
  }
  .column img:hover{
    opacity: 1;
    filter: none;
    cursor: pointer;
  }
  .header{
    color: white;
    text-align: center;
    padding: 70px;
    font-family: 'Caveat Brush', cursive;
    font-size: 25px;
    transition: transform 0.2s;
  }
  .header:hover{
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }